<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quyết đê</title>
    <link rel="stylesheet" href="/Day7.css" type="text/css">
</head>

<body>
    <nav class="menu">
        <span>
            <a href="/">Quyết đê</a>
        </span>
        <span>
            <a href="/ask">Hỏi nhanh</a>
        </span>
        <span>
            <a href="/">Đáp gọn</a>
        </span>
    </nav>
    {{{body}}}
</body>

</html>