.text-center h1{
    font-size: 30px;
}

#keyword{
    display: inline-block;
    height: 60%;
    width: 40%;
    margin-bottom: 15px;
}

#submit{
    width: 40%;
}

#logo{
    height: 240px;
    width: 480px;
}

.result{
    display: inline-block;
}

.result{
    margin-bottom: 10px;
    margin-top: 10px;
}

.result img{
    float: left;
    height: 120px;
    width: 180px;
    margin-right: 20px;
    margin-left: 20px;
}

.result .title{
    font-size: 14px;
}

.result .description{
    font-size: 14px;
}


