<h1>Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có/không</h1>
<textarea maxlength="200" rows="6" id="question" name="question"></textarea>
<p>Còn 200/200 kí tự</p>
<form action="">
    <button type="submit" value="Gui">Gửi</button>
</form>



